<h1>
  List of all movies
</h1>

<hr>

<form action="/create_movie"  method="post" >
  <label for="title">Title</label>
  <input id="title" type="text" name="movie_title"></input><br>

  <label for="year">Year</label>
  <input id="year" type="text" name="movie_year"></input><br>

  <label for="duration">Year</label>
  <input id="duration" type="text" name="movie_duration"></input><br>

  <label for="description">Description</label>
  <input id="description" type="text" name="movie_description"></input><br>

  <label for="image">Image</label>
  <input id="image" type="text" name="movie_image"></input><br>

  <label for="director_id">Director ID</label>
  <input id="director_id" type="text" name="movie_director_id"></input><br>

  <button>Create movie</button>

</form>



<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <% matching_directors = Director.where({ :id => a_movie.director_id }) %>
      
      <% the_director = matching_directors.at(0) %>
      <% if the_director == nil%>
        uh oh
      <% else %>  
      <%= the_director.name %>
      <% end %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
