<h1>
<% act_id = params.fetch("actor_id") %>
<% actor = Actor.where(:id => act_id).at(0) %>
  Actor #<%= act_id %> details
</h1>

<a href="/actors">
  Go back
</a>

<br>

<a href="/delete_actor/<%= act_id %>">
    Delete actor
  </a>
<hr>

<form action="/update_actor/<%= act_id %>"  method="post" >
  <label for="name_update">Name</label>
  <input id="name_update" type="text" name="actor_name_update" value="<%= actor.name %>"></input><br>

  <label for="dob_update">Dob</label>
  <input id="dob_update" type="date" name="actor_dob_update" value="<%= actor.dob %>"></input><br>

  <label for="bio_update">Bio</label>
  <textarea id="bio_update" type="text_box" name="actor_bio_update"><%= actor.bio %></textarea><br>

  <label for="image_update">Image</label>
  <input id="image_update" type="text" name="actor_image_update" value="<%= actor.image %>"></input><br>

  <button>Update actor</button>

</form>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= actor.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= actor.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% a_id = act_id %>

  <% matching_characters = Character.where({ :actor_id => a_id }) %>

  <% matching_characters.each do |a_character| %>
    <% m_id = a_character.movie_id %>

    <% matching_movies = Movie.where({ :id => m_id }) %>

    <% the_movie = matching_movies.at(0) %>

    <tr>
      <td>
        <%= the_movie.title %>
      </td>

      <td>
        <%= the_movie.year %>
      </td>

      <td>
        <% d_id = the_movie.director_id %>
        
        <% matching_directors = Director.where({ :id => d_id }) %>
        
        <% the_director = matching_directors.at(0) %>

        <%= the_director.name %>
      </td>

      <td>
        <%= a_character.name %>
      </td>

      <td>
        <a href="/movies/<%= the_movie.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
